{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div class="program_card">
  <div class="pc_img">
    {{ ds_content.field_program_illustration|field_value }}
    {{ ds_content.field_at_a_glance|field_value }}
  </div>
  <div class="pc_content">
    <h3><a title="Link to: {{ title|field_value }}" href="{{ path('entity.node.canonical', {'node': content['#node'].id()  }) }}">{{ title|field_value }}</a></h3>
  </div>
</div>
