{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}


<div class="hero_wrapper hero_event">
  {% if ds_content.field_event_hero[0]['#paragraph'].field_large_hero.0.target_id %}
    {{ ds_content.field_event_hero|field_value }}
    <div class="hero full">
  {% endif %}
  {% if ds_content.field_event_hero[0]['#paragraph'].field_small_hero.0.target_id %}
    <div class="hero">
  {% endif %}
    <div class="hero_content_wrapper">
      <div class="hero_content">
        <div class="content">
          <p class="meta">{{ content['bundle_field:node']|field_value }}Event</p>
          <h1>{{ title|field_value }}</h1>
          <div class="lede">{{ ds_content.field_lede|field_value }}</div>
        </div>
      </div>
      <div class="hero_eventDate">
        <div class="eventDate_wrap">
          <span class="month">{{ ds_content.field_date_and_time.value|date(format='M') }}</span>
          <span class="day">{{ ds_content.field_date_and_time.value|date(format='d') }}</span>
        </div>
      </div>
    </div>
    {% if ds_content.field_event_hero[0]['#paragraph'].field_small_hero.0.target_id %}
      {{ ds_content.field_event_hero|field_value }}
    {% endif %}
  </div>
</div><!--end hero_wrapper-->
<div class="content_wrapper">
  <div class="event">
    <div class="content_body">
      <div class="content">
        <div class="eventContent">
          <div class="eventDate">
            <h3>Date</h3>
            <p>{{ ds_content.field_date_and_time|field_value }}</p>
          </div>
          <div class="eventLocation">
            <h3>Location</h3>
            {{ ds_content.field_location }}
          </div>
          <div class="eventInfo">
            <h3>About the Event</h3>
            {{ ds_content.field_content|field_value }}
          </div>
          <div class="eventRelatedPrograms">
            <h3>Related Programs</h3>
            {{ ds_content.field_program }}
          </div>
          <div class="eventAOS">
            <h3>Areas of Study</h3>
            {{ ds_content.field_areas_of_study }}
          </div>
          <div class="eventShare">
            <h3>Share</h3>
            {{ ds_content.addtoany }}
          </div>
        </div>
        <div class="eventRFI">
          {{ ds_content.field_form }}
        </div>
      </div>
    </div>
    <div class="eventSpeaker_wrapper">
      <div class="eventSpeaker_body">
        <div class="eventSpeaker">
          <h3>Speaking at the event</h3>
          {{ ds_content.field_author|field_value }}
        </div>
      </div>
    </div>
  </div>

</div>
