{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div class="related_program">
  <div class="img">
    {{ ds_content.field_program_illustration }}
    {{ ds_content.field_at_a_glance }}

  </div>
  <div class="content">
    <h4><a title="Link to: {{ title|field_value }}" href="{{ path('entity.node.canonical', {'node': content['#node'].id()  }) }}">{{ title|field_value }}</a></h4>
  </div>
</div>
