{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div class="hero_wrapper hero_program_detail">
  <div class="hero">
    <div class="hero_content">
      <div class="program_meta">
        <span class="category">
          <svg class="" width="27" height="35" viewBox="0 0 27 35" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path clip-rule="evenodd" d="M11.525.007a140.301 140.301 0 0 1 15.082.657v19.28c-1.116 12.13-11.163 14.194-13.303 14.588-.113.021-12.096-1.515-13.304-14.584V5.496.664m0 0c.001 0 2.877-.376 7.655-.562 1.18-.046 2.474-.08 3.87-.095M11.29 2.01c-3.36.041-6.104.199-8.017.347-.477.037-.902.074-1.272.107 0 4.683 0 16.851-.002 17.363.553 5.79 3.43 8.907 6.14 10.635a15.167 15.167 0 0 0 3.78 1.721 12.66 12.66 0 0 0 1.332.323c1.163-.233 3.604-.838 5.928-2.496 2.467-1.759 4.91-4.773 5.429-10.16V2.49c-4.892-.415-9.34-.521-13.061-.483l-.257.003z"></path></svg>
          <span class="category_name">{{ ds_content.field_program_type|field_value }}</span>
          <span class="meta">{{ ds_content.field_areas_of_study|field_value|safe_join('<span class="divider"> | </span>') }}</span>
        </span>
      </div>
      <h1>{{ title|field_value }}</h1>
      <p>{{ ds_content.field_lede|field_value }}</p>
      <a class="btn" href="{{ ds_content.field_hero_cta_button[0]['#url'] }}">{{ ds_content.field_hero_cta_button[0]['#title'] }}</a>
    </div>
    <div class="hero_img">
      {{ ds_content.field_hero|field_value }}
      {{ ds_content.field_image_attribution|field_value }}
    </div>
  </div>
</div>

<div class="content_wrapper">
  <div class="program_detail">
    <div class="content">
      <div class="program_preview">
        <div class="col">
          <h3>At a Glance</h3>
          {{ ds_content.field_at_a_glance }}
        </div>
        <div class="col">
          <h3>Deadlines</h3>
          {{ ds_content.field_deadlines_block }}
          <h3>Upcoming Events</h3>
          [[ Coming Soon? - Not sure if this has been built? ]]
        </div>
      </div>
      {{ ds_content.field_video|field_value}}
      <div class="intro">{{ ds_content.field_intro_paragraph|field_value }}</div>
      {# ALL OTHER STUFF #}
      {{ ds_content|without('field_intro_paragraph','field_video','field_area_of_study_cta','field_button_','field_of_interest','field_conferred_by','field_offerred_by','field_deadlines_block','field_deadlines','field_at_a_glance','field_program_type','field_areas_of_study','field_lede','field_hero_cta_button','field_hero') }}

      {% if ds_content.field_conferred_by|field_value is not empty  %}
        <div class="conferred"><p>Conferred by The University of Chicago's {{ ds_content.field_conferred_by|field_value }}</p></div>
      {% endif %}
      {% if ds_content.field_offered_by|field_value is not empty  %}
        <div class="offered"><p>Offered by The University of Chicago's {{ ds_content.field_offered_by|field_value }}</p></div>
      {% endif %}

      {{ ds_content.field_button_ }}
    </div><!-- /.content -->
      {{ ds_content.field_area_of_study_cta }}
      {{ ds_content.field_of_interest	}}
  </div>  <!-- /.program_detail -->
</div>
