{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% if content.homepage|render %}
  <div class="hero_wrapper hero_homepage">
    {{ content.homepage.field_video_home_page_hero|field_value }}
    <div class="hero">
      <div class="hero_content">
        <h1>{{ content.title }}</h1>
        <p class="lede">{{ content.homepage.field_lede|field_value }}</p>
        <a class="btn" href="{{ content.homepage.field_hero_cta_button[0]['#url'] }}">{{ content.homepage.field_hero_cta_button[0]['#title'] }}</a>
      </div>
    </div>
  </div>
  <div class="content_wrapper">
    <div class="intro">
       {{ content.homepage.field_header_h2_|field_value }}
       {{ content.homepage.field_content|field_value }}
       <a class="btn secondary" href="{{ content.homepage.field_get_in_touch_button[0]['#url'] }}">{{ content.homepage.field_get_in_touch_button[0]['#title'] }}</a>

       <div class="preview">
        {{ content.homepage.field_program_types_preview }}
       </div>
    </div>
    <div class="youvisit">
      {{ content.homepage.field_youvisit_embed|field_value }}
    </div>




  </div>
{% endif %}
{% if content.about|render %}
  {{ content.about }} <h1>ABOUT</h1>
{% endif %}
{% if content.intro|render %}
  {{ content.intro }}<h1>INTRO</h1>
{% endif %}
{% if content.content|render %}
  {{ content.content }}<h1>CONTENT</h1>
{% endif %}
