{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}

      {{ title_prefix }}
      {{ title_suffix }}
      <div class="col">
        <div class="top">
          <div class="stat_number">
            {% if content.top.field_before_number|field_value is not empty  %}<span class="pre">{{ content.top.field_before_number|field_value }}</span>{% endif %}<span class="num">{{ content.top.field_number|field_value }}</span><span class="post">{{ content.top.field_after_number|field_value }}</span>
          </div>
				</div>
				<div class="bottom">
					<div class="blurb">
						{{ content.bottom }}
					</div>
				</div>
			</div>

{% endif %}
