{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
<div class="summary">
  <div class="col challenge">
    {{ ds_content.field_challenge|field_value }}
  </div>
  <div class="col solution">
    {{ ds_content.field_solution|field_value }}
  </div>
  <div class="col result">
    {{ ds_content.field_results|field_value }}
  </div>
</div>

<{{ wrapper_element }} {{ attributes }}>
  {{children}}
</{{ wrapper_element }}>
